.booklist {
	display: flex;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
}

.booklist__item {
	display: flex;
	flex-direction: column;
}

@media (min-width: 992px) {
	.booklist__item {
		width: 33.333%;
	}
}
@media (max-width: 991px) {
	.booklist__item {
		width: 50%;
	}
}

@media (min-width: 640px) {
	.booklist {
		margin: 0 -2em -2em 0;
	}

	.booklist__item {
		padding: 0 2em 2em 0;
	}
}

@media (max-width: 639px) {
	.booklist {
		margin: 0 -2em -3.6em 0;
	}

	.booklist__item {
		padding: 0 2em 3.6em 0;
		width: 100%;
	}
}