.book {
	box-shadow: rgba(0, 0, 0, .4) 0 .8em 2.4em;
	border-radius: .4em;
	overflow: hidden;

	height: 100%;
	display: flex;
	flex-direction: column;
}

.book_image {
	position: relative;
	width: 100%;
	padding-bottom: 125%;
}

.book_image__in {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
	object-fit: cover;
}

.book__content {
	flex: 1 1 auto;
	padding: 1em 10px;

	height: 100%;
	display: flex;
	flex-direction: column;

	background-color: #d0f9ff;
}

.book__title {
	flex: 1 1 auto;
	margin-bottom: 6px;
}

.book__author {
	margin-bottom: 8px;
}

.book__price {
	margin-bottom: 10px;
}

.book__wrap {

}

.book__button {
	height: 2.4em;
	width: 100%;
	max-width: 20em;
	margin: 0 auto;

	font-size: 18px;
	font-weight: 700;	

	background-color: #0e4c56;
	color: #fff;
	border-radius: .4em;
	border: none;
	transition: background .3s ease, color .3s ease;
}

.book__button:hover {
	color: #000;
	background-color: #58c8d9;
}
