.header {
	padding: 1.6em 15px;

	background-color: rgb(187, 225, 230);
}

.header_in {
	display: flex;
	align-items: center;
	
	gap: 2em;
}

.header_logo {
	flex: 1 1 auto;
}

.header_logo__in {
	font-size: 1.8em;
	color: rgb(28, 29, 25);
	font-weight: 700;
	letter-spacing: 0.04em;

	transition: color 0.3s ease;
	text-decoration: none;
}

.header_logo__in:hover {
	color: rgb(0, 108, 250);
}

.header_cart {
	text-decoration: none;
}

.header_cart__icon {
	width: 4em;
	height: 4em;
	
	flex-shrink: 0;
	margin-right: .8em;
}

.header_cart__icon svg {
	fill: #8A7A2A;
}

.header_cart__info {
	color:#000;
	font-size: 1.3em;
	font-weight: 700;
}

@media (min-width: 640px) {
	.header_cart {
		display: flex;
		align-items: center;
	}
}

@media (max-width: 639px) {
	.header_cart {
		text-align: center;
	}

	.header_cart__icon {
		display: none;
	}
}